@import "navbar.css";
@import "header-and-footer.css";
@import "blog-post-components.css";
@import "related-posts.css";
@import "blog-cards.css";


body {
    background-color: #eef;
    font: 1rem 'roboto', sans-serif;
    color: #30323d;
    margin-bottom: 0;
}

a {
    color: #30323d;
    text-decoration: none;
}

/* vertically and horizontally centers content */
.center-parent {
    position: relative;
}

.center-child {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* header */
.blog-post-header {
    height: 30vh;
    background-image: url(../images/wireframes.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    overflow: hidden;
    border-bottom: 2px solid #e8C547;
    margin-left: -23px;
    width: 100vw;
    margin-top: 38px;
}

.header-content {
    width: 75%;
}

/* main content */

.blog-post {
    padding: 10px 20px;
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.footer {
    height: 35vh;
    background: #30323d contain;
    overflow: hidden;
    margin-left: -23px;
}

/* xs screen styles */

@media screen
and (min-width : 275px)
and (max-width : 539px) {
    .blog-post-header {
        height: 35vh;
        background-position: bottom;
        border: 0;
    }

    .header-content {
      width: 50%;
      margin-left: 30px;
      height: 100%;
    }

    .blog-post {
        width: 90%;
        padding: 0;
    }

    .metadata {
        font-size: 0.7rem;
    }

    .ex1 {
        margin: 0 0 10px 0;
    }

    .footer {
        margin-left: -8px;
    }

}


/* tablet styles */

@media screen
and (min-device-width : 536px)
and (max-device-width : 1100px) {
    .index-header {
        background-position: right;
    }

    .header-content {
      width: 50%;
      height: 100%;
    }

    .blog-post {
        width: 85%;
    }

    .blog-post-h1 {
        font: 7vh "bebas neue", cursive;
        line-height: 6.5vh;
    }

}